#import sickbeard
#set global $title="Config - Notifications"
#set global $header="Notifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configNotifications.js"></script>
<script type="text/javascript" src="$sbRoot/js/config.js"></script>

<div id="config">
    <div id="config-content">
        <form id="configForm" action="saveNotifications" class="form-horizontal" method="post">
            <fieldset>
            <legend>Home Theater
                <small>Settings for you Home Theater Systhem</small>
            </legend>
            <div class="control-group">
                <label class="control-label" for="use_xbmc">
                    <a href="http://xbmc.org/" onclick="window.open(this.href, '_blank'); return false;">
                        <img src="$sbRoot/images/notifiers/xbmc.gif" alt="" title="XBMC" width="16" height="16" />
                        XBMC
                    </a>
                </label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" class="enabler checkbox inline" name="use_xbmc" id="use_xbmc" #if $sickbeard.USE_XBMC then "checked=\"checked\"" else ""# />
                    Should Sick Beard send XBMC commands?
                    </label>
                </div>
            </div>
            <div id="content_use_xbmc">
                <div class="control-group">
                    <label class="control-label" for="xbmc_notify_onsnatch">
                       Notify on Snatch
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="xbmc_notify_onsnatch" id="xbmc_notify_onsnatch" #if $sickbeard.XBMC_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                            Send notification when we start a download?
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="xbmc_notify_ondownload">
                       Notify on Download
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="xbmc_notify_ondownload" id="xbmc_notify_ondownload" #if $sickbeard.XBMC_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                            Send notification when we finish a download?
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="xbmc_update_library">
                       Update Library
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="xbmc_update_library" id="xbmc_update_library" #if $sickbeard.XBMC_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                            Update XBMC library when we finish a download?
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="xbmc_update_full">
                       Full Library Update
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="xbmc_update_full" id="xbmc_update_full" #if $sickbeard.XBMC_UPDATE_FULL then "checked=\"checked\"" else ""# />
                            Do a full library update if per-show fails?
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="xbmc_host">
                        XBMC IP:Port
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.XBMC_HOST" id="xbmc_host" name="xbmc_host">
                        <p class="help-block">Host running XBMC (eg. 192.168.1.100:8080)<br />(multiple host strings can be separated by commas)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="xbmc_username">
                        XBMC Username
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.XBMC_USERNAME" id="xbmc_username" name="xbmc_username">
                        <p class="help-block">Username of your XBMC server (blank for none)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="xbmc_password">
                        XBMC Password
                    </label>
                    <div class="controls">
                        <input type="password" size="35" class="input-xlarge" value="$sickbeard.XBMC_PASSWORD" id="xbmc_password" name="xbmc_password">
                        <p class="help-block">Password of your XBMC server (blank for none)</p>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="testNotification" id="testXBMC-result">Click below to test.</div>
                    <input type="button" value="Test XBMC" class="btn" id="testXBMC" />
                    <input type="submit" class="config_submitter btn btn-success" value="Save Changes" /><br/>
                </div>
            </div>
            

            <!-- Plex Media Server -->
            <div class="control-group">
                <label class="control-label" for="use_plex">
                    <a href="http://www.plexapp.com/" onclick="window.open(this.href, '_blank'); return false;">
                        <img src="$sbRoot/images/notifiers/plex.gif" alt="" title="Plex Media Server" width="16" height="16" /> 
                        Plex Media Server
                    </a>
                </label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" class="enabler checkbox inline" name="use_plex" id="use_plex" #if $sickbeard.USE_XBMC then "checked=\"checked\"" else ""# />
                    Should Sick Beard send Plex commands?
                    </label>
                </div>
            </div>
            <div id="content_use_plex">
                <div class="control-group">
                    <label class="control-label" for="plex_notify_onsnatch">
                       Notify on Snatch
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="plex_notify_onsnatch" id="plex_notify_onsnatch" #if $sickbeard.PLEX_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                            Send notification when we start a download?
                        </label>
                    </div>
                </div>
            <div id="content_use_plex">
                <div class="control-group">
                    <label class="control-label" for="plex_notify_ondownload">
                        Notify on Download
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="plex_notify_ondownload" id="plex_notify_ondownload" #if $sickbeard.PLEX_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                            Send notification when we finish a download?
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="plex_update_library">
                        Update Library
                    </label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox inline" name="plex_update_library" id="plex_update_library" #if $sickbeard.PLEX_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                                Update Plex Media Server library when we finish a download?
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="plex_server_host">
                        Plex Media Server IP:Port
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.PLEX_SERVER_HOST" id="plex_server_host" name="plex_server_host">
                        <p class="help-block">Host running Plex Media Server (eg. 192.168.1.100:32400)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="plex_host">
                        Plex Client IP:Port
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.PLEX_HOST" id="plex_host" name="plex_host">
                        <p class="help-block">Host running Plex Client (eg. 192.168.1.100:3000)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="plex_username">
                        Plex Client Username
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.PLEX_USERNAME" id="plex_username" name="plex_username">
                        <p class="help-block">Username of your Plex client API (blank for none)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="plex_password">
                        Plex Client Password
                    </label>
                    <div class="controls">
                        <input type="password" size="35" class="input-xlarge" value="$sickbeard.PLEX_PASSWORD" id="plex_password" name="plex_password">
                        <p class="help-block">Password of your Plex client API (blank for none)</p>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="testNotification" id="testPLEX-result">Click below to test.</div>
                    <input type="button" value="Test Plex Media Server" class="btn" id="testPLEX" />
                    <input type="submit" class="config_submitter btn btn-success" value="Save Changes" /><br/>
                </div>
            </div>
            </div>

            <!-- Networked Media Jukebox -->
            <div class="control-group">
                <label class="control-label" for="use_nmj">
                    <a href="http://www.popcornhour.com/" onclick="window.open(this.href, '_blank'); return false;">
                        <img src="$sbRoot/images/notifiers/nmj.gif" alt="" title="Networked Media Jukebox" width="16" height="16" /> NMJ 
                    </a>
                </label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" class="enabler checkbox inline" name="use_nmj" id="use_nmj" #if $sickbeard.USE_NMJ then "checked=\"checked\"" else ""# />
                    Should Sick Beard send update commands to NMJ?
                    </label>
                </div>
            </div>
            <div id="content_use_nmj">
                <div class="control-group">
                    <label class="control-label" for="nmj_host">
                        Popcorn IP address
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.NMJ_HOST" id="nmj_host" name="nmj_host">
                        <p class="help-block">IP of Popcorn 200-series (eg. 192.168.1.100)</p>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="button" value="Get Settings" class="btn" id="settingsNMJ" />
                    <p class="help-block">The Popcorn Hour device must be powered on and NMJ running.</p>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nmj_database">
                        NMJ Database
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.NMJ_DATABASE" id="nmj_database" name="nmj_database" #if $sickbeard.NMJ_DATABASE then "readonly=\"readonly\"" else ""# />
                        <p class="help-block">Automatically filled via the 'Get Settings' button.</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nmj_mount">
                        NMJ Mount URL
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.NMJ_MOUNT" id="nmj_mount" name="nmj_mount" #if $sickbeard.NMJ_MOUNT then "readonly=\"readonly\"" else ""# />
                        <p class="help-block">Automatically filled via the 'Get Settings' button.</p>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="testNotification" id="testNMJ-result">Click below to test.</div>
                    <input type="button" value="Test NMJ" class="btn" id="testNMJ" />
                    <input type="submit" class="config_submitter btn btn-success" value="Save Changes" /><br/>
                </div>
            </div>

            <!-- Synology Indexer -->
            <div class="control-group">
                <label class="control-label" for="use_synoindex">
                    <a href="http://synology.com/" onclick="window.open(this.href, '_blank'); return false;">
                        <img src="$sbRoot/images/notifiers/synoindex.gif" alt="" title="Synology Indexer" width="16" height="16" /> Synology Indexer 
                    </a>
                </label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" class="enabler checkbox inline" name="use_synoindex" id="use_synoindex" #if $sickbeard.USE_NMJ then "checked=\"checked\"" else ""# />
                    Should Sick Beard send notifications to the synoindex daemon?
                    <p class="help-block"><b>Note:</b> Requires SB to be running on your Synology NAS.</p>
                    </label>
                </div>
            </div>
            <div id="content_use_synoindex">
                <div class="form-actions">
                    <input type="submit" class="config_submitter btn btn-success" value="Save Changes" /><br/>
                </div>
            </div>

            <!-- pyTivo -->
            <div class="control-group">
                <label class="control-label" for="use_pytivo">
                    <a href="http://pytivo.sourceforge.net/wiki/index.php/PyTivo" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/pytivo.gif" alt="" title="pyTivo" width="16" height="16" />
                        pyTivo
                    </a>
                </label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" class="enabler checkbox inline" name="use_pytivo" id="use_pytivo" #if $sickbeard.USE_PYTIVO then "checked=\"checked\"" else ""# /> 
                    Should Sick Beard send notifications to pyTivo?
                    <p class="help-block"><b>Note:</b> Requires the downloaded files to be accessible to pyTivo.</p>
                    </label>
                </div>
            </div>
            <div id="content_use_pytivo">
                <div class="control-group">
                    <label class="control-label" for="pytivo_host">
                        pyTivo IP:Port
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.PYTIVO_HOST" id="pytivo_host" name="pytivo_host">
                        <p class="help-block">Host running pyTivo (eg. 192.168.1.1:9032)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pytivo_share_name">
                        pyTivo Share name
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.PYTIVO_SHARE_NAME" id="pytivo_share_name" name="pytivo_share_name">
                        <p class="help-block">Value used in pyTivo Web Configuration to name the share.</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pytivo_tivo_name">
                        Tivo Name
                    </label>
                    <div class="controls">
                        <input type="text" size="35" class="input-xlarge" value="$sickbeard.PYTIVO_TIVO_NAME" id="pytivo_tivo_name" name="pytivo_tivo_name">
                        <p class="help-block">Messages & Settings > Account & System Information > System Information > DVR name</p>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="config_submitter btn btn-success" value="Save Changes" /><br/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Devices
                <small>Settings for you Notification Devices</small>
            </legend>


                <br />
                <h1>Devices</h1>
                <br />


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://growl.info/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/growl.gif" alt="" title="Growl" width="16" height="16" /> Growl </a></h3>
                        <p>A cross-platform unobtrusive global notification system.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_growl" id="use_growl" #if $sickbeard.USE_GROWL then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_growl">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Growl notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_growl">
                            <div class="field-pair">
                                <input type="checkbox" name="growl_notify_onsnatch" id="growl_notify_onsnatch" #if $sickbeard.GROWL_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                                <label class="clearfix" for="growl_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="growl_notify_ondownload" id="growl_notify_ondownload" #if $sickbeard.GROWL_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="growl_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Growl IP:Port</span>
                                    <input type="text" name="growl_host" id="growl_host" value="$sickbeard.GROWL_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running Growl (eg. 192.168.1.100:23053)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Growl Password</span>
                                    <input type="password" name="growl_password" id="growl_password" value="$sickbeard.GROWL_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">May leave blank if Sick Beard is on the same host.</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Otherwise Growl <b>requires</b> a password to be used.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testGrowl-result">Click below to register and test Growl, this is required for Growl notifications to work.</div>
                            <input type="button" value="Register Growl" id="testGrowl" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_growl //-->

                    </fieldset>
                </div><!-- /growl component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://www.prowlapp.com/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/prowl.gif" alt="Prowl" title="Prowl" width="16" height="16" /> Prowl</a></h3>
                        <p>A Growl client for iOS.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_prowl" id="use_prowl" #if $sickbeard.USE_PROWL then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_prowl">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Prowl notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_prowl">
                            <div class="field-pair">
                                <input type="checkbox" name="prowl_notify_onsnatch" id="prowl_notify_onsnatch" #if $sickbeard.PROWL_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                                <label class="clearfix" for="prowl_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="prowl_notify_ondownload" id="prowl_notify_ondownload" #if $sickbeard.PROWL_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="prowl_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Prowl API key:</span>
                                    <input type="text" name="prowl_api" id="prowl_api" value="$sickbeard.PROWL_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Get your key at: <a href="https://www.prowlapp.com/api_settings.php" onclick="window.open(this.href, '_blank'); return false;">https://www.prowlapp.com/api_settings.php</a></span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Prowl priority:</span>
                                   <select id="prowl_priority" name="prowl_priority">
                                        <option value="-2" #if $sickbeard.PROWL_PRIORITY == "-2" then 'selected="selected"' else ""#>Very Low</option>
                                        <option value="-1" #if $sickbeard.PROWL_PRIORITY == "-1" then 'selected="selected"' else ""#>Moderate</option>
                                        <option value="0" #if $sickbeard.PROWL_PRIORITY == "0" then 'selected="selected"' else ""#>Normal</option>
                                        <option value="1" #if $sickbeard.PROWL_PRIORITY == "1" then 'selected="selected"' else ""#>High</option>
                                        <option value="2" #if $sickbeard.PROWL_PRIORITY == "2" then 'selected="selected"' else ""#>Emergency</option>
                                    </select>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Priority of Prowl messages from Sick-Beard.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testProwl-result">Click below to test.</div>
                            <input type="button" value="Test Prowl" id="testProwl" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_prowl //-->

                    </fieldset>
                </div><!-- /prowl component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://notifo.com/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/notifo.gif" alt="" title="Notifo" width="16" height="16" /> Notifo </a></h3>
                        <p>A platform for push-notifications to either mobile or desktop clients</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_notifo" id="use_notifo" #if $sickbeard.USE_NOTIFO then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_notifo">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send notifications through Notifo?</span>
                            </label>
                        </div>

                        <div id="content_use_notifo">
                            <div class="field-pair">
                                <input type="checkbox" name="notifo_notify_onsnatch" id="notifo_notify_onsnatch" #if $sickbeard.NOTIFO_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="notifo_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="notifo_notify_ondownload" id="notifo_notify_ondownload" #if $sickbeard.NOTIFO_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="notifo_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Notifo Username</span>
                                    <input type="text" name="notifo_username" id="notifo_username" value="$sickbeard.NOTIFO_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Notifo account</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Notifo API secret</span>
                                    <input type="password" name="notifo_apisecret" id="notifo_apisecret" value="$sickbeard.NOTIFO_APISECRET" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Get your API key at:  <a href="http://notifo.com/user/settings" onclick="window.open(this.href, '_blank'); return false;">http://notifo.com/user/settings</a></span>
                                </label>
                            </div>
                            <div class="testNotification" id="testNotifo-result">Click below to test.</div>
                            <input type="button" value="Test Notifo" id="testNotifo" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_notifo //-->

                    </fieldset>
                </div><!-- /notifo component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://library.gnome.org/devel/libnotify/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/libnotify.gif" alt="" title="Libnotify" width="16" height="16" /> Libnotify </a></h3>
                        <p>The standard desktop notification API for Linux/*nix systems.  This notifier will only function if the pynotify module is installed (Ubuntu/Debian package <a href="apt:python-notify">python-notify</a>).</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_libnotify" id="use_libnotify" #if $sickbeard.USE_LIBNOTIFY then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_libnotify">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Libnotify notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_libnotify">
                            <div class="field-pair">
                                <input type="checkbox" name="libnotify_notify_onsnatch" id="libnotify_notify_onsnatch" #if $sickbeard.LIBNOTIFY_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                                <label class="clearfix" for="libnotify_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="libnotify_notify_ondownload" id="libnotify_notify_ondownload" #if $sickbeard.LIBNOTIFY_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="libnotify_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testLibnotify-result">Click below to test.</div>
                            <input type="button" value="Test Libnotify" id="testLibnotify" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_libnotify //-->

                    </fieldset>
                </div><!-- /libnotify component-group //-->


                <h3><a href="http://pushover.net/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/pushover.gif" alt="" title="Pushover" width="16" height="16" /> Pushover </a></h3>
                        <p>Pushover makes it easy to send real-time notifications to your Android and iOS devices.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_pushover" id="use_pushover" #if $sickbeard.USE_PUSHOVER then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_pushover">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send notifications through Pushover?</span>
                            </label>
                        </div>

                        <div id="content_use_pushover">
                            <div class="field-pair">
                                <input type="checkbox" name="pushover_notify_onsnatch" id="pushover_notify_onsnatch" #if $sickbeard.PUSHOVER_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="pushover_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="pushover_notify_ondownload" id="pushover_notify_ondownload" #if $sickbeard.PUSHOVER_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="pushover_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title"></span>
                                    <input type="text" name="pushover_userkey" id="pushover_userkey" value="$sickbeard.PUSHOVER_USERKEY" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">User key of your Pushover account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testPushover-result">Click below to test.</div>
                            <input type="button" value="Test Pushover" id="testPushover" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_pushover //-->

                    </fieldset>
                </div><!-- /pushover component-group //-->

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://boxcar.io/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/boxcar.gif" alt="" title="Boxcar" width="16" height="16" /> Boxcar </a></h3>
                        <p>Read your messages where and when you want them! A subscription will be send if needed.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_boxcar" id="use_boxcar" #if $sickbeard.USE_BOXCAR then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_boxcar">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send notifications through Boxcar?</span>
                            </label>
                        </div>

                        <div id="content_use_boxcar">
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar_notify_onsnatch" id="boxcar_notify_onsnatch" #if $sickbeard.BOXCAR_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar_notify_ondownload" id="boxcar_notify_ondownload" #if $sickbeard.BOXCAR_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Boxcar Username</span>
                                    <input type="text" name="boxcar_username" id="boxcar_username" value="$sickbeard.BOXCAR_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Boxcar account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testBoxcar-result">Click below to test.</div>
                            <input type="button" value="Test Boxcar" id="testBoxcar" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_boxcar //-->

                    </fieldset>
                </div><!-- /boxcar component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://nma.usk.bz" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/nma.jpg" alt="" title="NMA" width="16" height="16" /> Notify My Android </a></h3>
                        <p>Notify My Android is a Prowl-like Android App and API that offers an easy way to send notifications from your application directly to your Android device.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_nma" id="use_nma" #if $sickbeard.USE_NMA then "checked=\"checked\"" else ""# /> 
                            <label class="clearfix" for="use_nma">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send NMA notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_nma">
                            <div class="field-pair">
                                <input type="checkbox" name="nma_notify_onsnatch" id="nma_notify_onsnatch" #if $sickbeard.NMA_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                                <label class="clearfix" for="nma_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="nma_notify_ondownload" id="nma_notify_ondownload" #if $sickbeard.NMA_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="nma_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                       <span class="component-title">NMA API key:</span>
                                    <input type="text" name="nma_api" id="nma_api" value="$sickbeard.NMA_API" size="55" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Multiple keys must be seperated by a , (comma). Up to a maximum of 5</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NMA priority:</span>
                                       <select id="nma_priority" name="nma_priority">
                                        <option value="-2" #if $sickbeard.NMA_PRIORITY == "-2" then 'selected="selected"' else ""#>Very Low</option>
                                        <option value="-1" #if $sickbeard.NMA_PRIORITY == "-1" then 'selected="selected"' else ""#>Moderate</option>
                                        <option value="0" #if $sickbeard.NMA_PRIORITY == "0" then 'selected="selected"' else ""#>Normal</option>
                                        <option value="1" #if $sickbeard.NMA_PRIORITY == "1" then 'selected="selected"' else ""#>High</option>
                                        <option value="2" #if $sickbeard.NMA_PRIORITY == "2" then 'selected="selected"' else ""#>Emergency</option>
                                    </select>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Priority of NMA messages from Sick-Beard.</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testNMA-result">Click below to test.</div>
                            <input type="button" value="Test NMA" id="testNMA" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_nma //-->

                    </fieldset>
                </div><!-- /nma component-group //-->


                <br />
                <h1>Online</h1>
                <br />


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://www.twitter.com/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/twitter.gif" alt="" title="Twitter" width="16" height="16" /> Twitter </a></h3>
                        <p>A social networking and microblogging service, enabling its users to send and read other users' messages called tweets.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_twitter" id="use_twitter" #if $sickbeard.USE_TWITTER then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_twitter">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard post tweets on Twitter?</span>
                            </label>
                            <label class="nocheck clearfix" for="use_twitter">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">You may want to use a second account.</span>
                            </label>
                        </div>

                        <div id="content_use_twitter">
                            <div class="field-pair">
                                <input type="checkbox" name="twitter_notify_onsnatch" id="twitter_notify_onsnatch" #if $sickbeard.TWITTER_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# /> 
                                <label class="clearfix" for="twitter_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="twitter_notify_ondownload" id="twitter_notify_ondownload" #if $sickbeard.TWITTER_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="twitter_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step One</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-desc">Click the "Request Authorization" button.<br/> This will open a new page containing an auth key.<br/> Note: if nothing happens check your popup blocker.<br/></span>
                                    <input type="button" value="Request Authorization" id="twitterStep1" />
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step Two</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-desc">Enter the key Twitter gave you below, and click "Verify Key".<br/></span>
                                    <input type="text" id="twitter_key" value="" size="35" /><br />
                                </label>
                                <label class="nocheck clearfix">
                                    <input type="button" value="Verify Key" id="twitterStep2" />
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step Three</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testTwitter-result">Click below to test.</div>
                            <input type="button" value="Test Twitter" id="testTwitter" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_twitter //-->

                    </fieldset>
                </div><!-- /twitter component-group //-->


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://trakt.tv/" onclick="window.open(this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/trakt.gif" alt="" title="Trakt" width="16" height="16" /> Trakt </a></h3>
                        <p>trakt helps keep a record of what TV shows and movies you are watching. Based on your favorites, trakt recommends additional shows and movies you'll enjoy!</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_trakt" id="use_trakt" #if $sickbeard.USE_TRAKT then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_trakt">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should Sick Beard send Trakt.tv notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_trakt">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt Username</span>
                                    <input type="text" name="trakt_username" id="trakt_username" value="$sickbeard.TRAKT_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Trakt account.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt Password</span>
                                    <input type="password" name="trakt_password" id="trakt_password" value="$sickbeard.TRAKT_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your Trakt account.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt API key:</span>
                                    <input type="text" name="trakt_api" id="trakt_api" value="$sickbeard.TRAKT_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Get your key at: <a href="http://trakt.tv/settings/api" onclick="window.open(this.href, '_blank'); return false;">http://trakt.tv/settings/api</a></span>
                                </label>
                            </div>
                            <div class="testNotification" id="testTrakt-result">Click below to test.</div>
                            <input type="button" value="Test Trakt" id="testTrakt" />
                            <input type="submit" class="config_submitter" value="Save Changes" />
                        </div><!-- /content_use_trakt //-->

                    </fieldset>
                </div><!-- /trakt component-group //-->


            <br/><input type="submit" class="config_submitter" value="Save Changes" /><br/>
            </div><!-- /config-components //-->
        </form>
    </div>
</div>
<div class="clearfix"></div>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
